# Binaries
6502
6502.dSYM
Debug
dist
6502.exe

# Unlicensed code
6502asmcom

# Best not to commit
cc65

# Personal files
compile_flags.txt
difflog_mine.txt
difflog_theirs.txt
demos.zip
xcuserdata/
*.swp

# Mac files
.DS_Store
